.homepage-card {
  background: #07182e;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.homepage-card::before {
  content: "";
  position: absolute;
  width: 40px;
  background-image: linear-gradient(
    180deg,
    rgb(0, 183, 255),
    rgb(255, 48, 255)
  );
  height: 300%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.homepage-card::after {
  content: "";
  position: absolute;
  background: #5f1a1a;
  inset: 5px;
  border-radius: 15px;
}
/* .homepage-card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */

.homepage-card > * {
  z-index: 2;
}

.close-button {
  position: relative;
  width: 3em;
  height: 3em;
  border: none;
  background: rgba(180, 83, 107, 0.507);
  border-radius: 5px;
  transition: background 0.5s;
}

.X {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%) rotate(45deg);
}

.Y {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: #fff;
  transform: translateX(-50%) rotate(-45deg);
}

.close-button-text {
  position: absolute;
  display: flex;
  padding: 0.8rem 1.5rem;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  top: -70%;
  left: 50%;
  width: 3em;
  height: 1.7em;
  font-size: 12px;
  background-color: rgb(19, 22, 24);
  color: rgb(187, 229, 236);
  border: none;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
}

.close-button:hover {
  background-color: rgb(211, 21, 21);
}

.close-button:active {
  background-color: rgb(130, 0, 0);
}

.close-button:hover > .close-button-text {
  animation: close 0.2s forwards 0.25s;
}

@keyframes close {
  100% {
    opacity: 1;
  }
}

@media (max-width: 2000px) and (max-height: 870px) {
  .category-buttons {
    height: 120px;
  }
}

@media (max-width: 2000px) and (max-height: 800px) {
  .category-buttons {
    height: 90px;
  }
}

@media (max-height: 590px) {
  .homepage-container {
    font-size: 7px;
  }
  .category-buttons-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
  }
  .category-buttons {
    height: 10vh;
  }
}

@media (max-height: 870px) {
  .category-buttons {
    height: 70px;
  }
}

@media (max-height: 800px) {
  .category-buttons {
    height: 60px;
  }
}

@media (max-height: 680px) {
  .homepage-container {
    font-size: 7px;
  }
  .category-buttons {
    height: 55px;
  }
}
